* {box-sizing:border-box; }
html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: Aril, Tahoma, sans-serif;
}
.container {
    max-width: 1280px;
    margin:0 auto;
    padding: 3.9%;
}

.row {
    margin: 0;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}
/* ----------------------header------------------------------- */
.site-header {
    min-height: 320px;
    background:#445162;
    color:#ffffff;
}
.site-header h1 {
    font-size: 60px;
    margin:0;
}
.main-nav img{
    height: 19px;
    width:25px;
}
.main-nav a {
    font-size:20px;
    text-decoration:none;
    color:#ffffff;
}
.main-nav li {
    list-style:none;
    margin-bottom:15px;
}
.main-nav ul{padding:0;}
.product-img{
    width:79.66%;
    min-height:210px;
    background:#ffffff;
    float:right;
}
/* ----------------------About------------------------------- */
.about{
    background:#fff;
    padding:0;
}
.about-text{
    width:50%;
    color:#445161;
    float:left;
}
.about-text h2{
    font-size:30px;
}
.about-text p{
    font-size:16px;
}
.about-img {
    width:33.6%;
    background: #445161;
    float:right;
    min-height: 240px;
}
/* ---------------------------Dignity--------------------- */
.dignity {
    min-height:100px;
    background:#f5f5f5;
    color:#445161;
}
.dignity h2{
    text-align:center;
    font-size:30px;
    margin-top:0;

}
.sharp{
    width: 32px;
    height: 32px;
    background:#445161;
    position:relative;
    float:left;
}
.sharp img{
    position:absolute;
    top:6px;
    left:6px;
}
.dignity-sharp-text{
    float:left;
    width: 85%;
    margin-bottom:40px;
    margin-left:2%;
}
.dignity-block-left {
    width: 50%;
    min-height:100px;
    float:left;
}
.dignity-block-right {
    width: 50%;
    min-height:100px;
    float:right;
}
/* ---------------------------Screenshots---------------------- */
.screenshots {
    min-height: 100px;
    background:#fff;
    color:#445161;
}
.screenshots h2 {
    font-size:30px;
    margin-top:0;
}
.screenshots-block-left {
    width: 50%;
    min-height:100px;
    float:left;
}
.screenshots-block-right {
    width: 50%;
    min-height:100px;
    float:right;
}
.screenshots-img {
    width: 33%;
    background:#445161;
    min-height:150px;
    float:left;
}
.screenshots-img-description{
    width: 60%;
    float:left;
    margin-left:3%;
    margin-bottom:30px;
}
.screenshots-img-description h3{
    font-size:24px;
    margin-top:0;
}








.clearfix{
    content:"";
    display:block;
    clear:both; 
}


.block-590 {
    width:50%;
    min-height: 100px;
    float:left;
}
.center {
    text-align:center;
}